<md-toolbar>
    <span>{{user.username}}</span>
    <span class="fill-space"></span>

    <button md-icon-button>
        <md-icon class="icon" (click)="changePassword()"> securty </md-icon>
    </button>

    <button md-icon-button (click)="update()">
            <md-icon> save </md-icon>
        </button>

    <button md-icon-button (click)="delete()">
            <md-icon class="icon"> delete </md-icon>
        </button>


    <button md-icon-button [routerLink]="['/users']">
            <md-icon class="icon"> undo </md-icon>
        </button>

</md-toolbar>


<form #userForm="ngForm">
    <md-card>
        <md-card-subtitle class="error" *ngIf="error">{{error}}</md-card-subtitle>
        <md-card-content>
            <p>
                <md-input name="email" type="email" class="login_input" placeholder="Email" ngControl="email" [(ngModel)]="user.email"></md-input>
            </p>
            <md-divider></md-divider>

            <div class="row">
                <div class="column">
                    <h4>Applications</h4>
                    <span><button md-button color="primary" (click)="enableAllApplications()">All</button>&nbsp;&nbsp;<button md-button color="primary" (click)="user.applications = []">None</button></span>
                    <md-list>
                        <md-list-item *ngFor="let app of availableApps">
                            <md-checkbox [checked]="isInApplication(app)" (change)="toggleApplication(app);">{{app}}</md-checkbox>
                        </md-list-item>
                    </md-list>
                    <h4 *ngIf="debugMode">Debug: {{user.applications | json }}</h4>
                </div>
                <div class="column">
                    <h4>Roles</h4>
                    <span><button md-button color="primary" (click)="enableAllRoles()">All</button>&nbsp;&nbsp;<button md-button color="primary" (click)="user.roles = []">None</button></span>
                    <md-list>
                        <md-list-item *ngFor="let role of availableRoles">
                            <md-checkbox [checked]="isInRole(role)" (change)="toggleRole(role)" name="role">{{role}}</md-checkbox>
                        </md-list-item>
                    </md-list>
                    <h4 *ngIf="debugMode">Debug: {{user.roles | json }}</h4>
                </div>
            </div>
        </md-card-content>
    </md-card>
</form>