<md-sidenav-layout fullscreen>
    <md-sidenav #menu align="start" mode="over" [(opened)]="menuOpen" (open)="menuOpen=true" (close)="menuOpen=false">
        <md-card *ngIf="currentUser">
            <md-card-title>{{currentUser.username}}</md-card-title>
            <md-card-content>{{currentUser.email}}</md-card-content>
        </md-card>

        <!-- Menu items-->
        <md-nav-list>

            <md-list-item>
                <button md-button (click)="changePassword()"><md-icon> security </md-icon>Change password</button>
            </md-list-item>

            <md-list-item>
                <button md-button (click)="logout()"><md-icon>exit_to_app</md-icon>Log out</button>
            </md-list-item>
        </md-nav-list>

    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="menuOpen = !menuOpen"><md-icon>menu</md-icon></button>
        <span>{{title}}</span>
        <span class="fill-space"></span>
        <button md-icon-button (click)="addUser()">
            <md-icon> add </md-icon>
        </button>
        <button md-icon-button>
            <md-icon class="icon">search</md-icon>
        </button>
    </md-toolbar>

    <span *ngIf="apiErrorText">{{apiErrorText}}</span>

    <div id="container">
        <md-nav-list>
            <h3 md-subheader>Active users</h3>
            <a md-list-item *ngFor="let user of users" (click)="onSelect(user)">
                <md-icon md-list-avatar>face</md-icon>
                <h4 md-line>{{user.username}}</h4>
                <p md-line class="user_email"> {{user.email}} </p>
            </a>
            <md-divider></md-divider>
        </md-nav-list>
    </div>
</md-sidenav-layout>