<form #dialogResult="ngForm" [formGroup]="dialogForm" (ngSubmit)="onSubmit()">

  <md-card>
    <md-card-title>Change user password</md-card-title>
    <md-card-content flow="row">
      <md-input placeholder="Old password" formControlName="oldpassword" name="oldpassword" required type="password">
        <md-hint *ngIf="!oldpassword.pristine && oldpassword.errors" [ngStyle]="{'color': 'red'}" align="start">Can't be empty</md-hint>
      </md-input>
      <div formGroupName="password_set">
        <md-input name="password" ngModel placeholder="New password" required formControlName="password" type="password">
          <md-hint *ngIf="!password.pristine && password.errors" [ngStyle]="{'color': 'red'}" align="start">Can't be empty</md-hint>
        </md-input>
        <md-input name="password_confirm" placeholder="Confirm password" formControlName="password_confirm" type="password" required>
          <md-hint *ngIf="!password_confirm.pristine && password_confirm.errors && password_confirm.hasError('required')" [ngStyle]="{'color': 'red'}"
            align="start">Can't be empty</md-hint>
          <md-hint *ngIf="!password_set.pristine && password_set.errors && !password_confirm.hasError('required') && password_set.hasError('validateEqual')"
            [ngStyle]="{'color': 'red'}" align="start">Password does not match</md-hint>
        </md-input>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" [disabled]="!dialogResult.valid">Ok</button>
      <button md-button (click)="dialogRef.close(null)">Cancel</button>
    </md-card-actions>
  </md-card>
</form>