<md-card>
  <md-card-title>Change user password</md-card-title>
  <md-card-content flow="row">    
    <md-input placeholder="old password" [(ngModel)]="result.oldpassword"></md-input>
    <md-input placeholder="password" [(ngModel)]="result.password"></md-input>    
    <md-input placeholder="confirm password" [(ngModel)]="result.password_confirm"></md-input>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="dialogRef.close(result)">Ok</button>
    <button md-button (click)="dialogRef.close(null)">Cancel</button>  
  </md-card-actions>
</md-card>