<form #dialogResult="ngForm">
  <md-card>
    <md-card-title>New user</md-card-title>
    <md-card-content>
      <md-input name="username" placeholder="Username" ngModel required></md-input>
      <md-input name="password" placeholder="Password" ngModel required #password type="password" required></md-input>
      <md-input name="password_confirm" placeholder="Confirm password" ngModel #password_confirm type="password" required sameValueAs="password"></md-input>
      <md-input name="email" placeholder="Email" ngModel type="email"></md-input>
    </md-card-content>
    <md-card-actions>
      <button md-button [disabled]="!dialogResult.valid" (click)="dialogRef.close(dialogResult.value)">Ok</button>
      <button md-button (click)="dialogRef.close(null)">Cancel</button>
    </md-card-actions>
  </md-card>
</form>